doctype 5
html(lang='ko')
  head
    title=title
    meta(charset='utf-8')
    meta(name='description', content=description)
    link(rel='stylesheet', href=prefix +'/stylesheets/stylesheet.css', media='screen')
  body
  <!-- HEADER -->
  div#header_wrap.outer
    header.inner
      a#forkme_banner(href='https://github.com/miconblog/titanium-guide-kr') View on GitHub
      h1#project_title=title
   
  div#main_content_wrap.outer
    section#main_content.inner!=content